/*
 * This file is included once, for the entire sute.
 * It's useful for CSS vars
 */

// CSS vars
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #fdc760;

    --unit-100vh: 100vh;
    --unit-gap: 50px;

    --font-primary: "RM Neue", sans-serif;

    --easing-authentic-motion: cubic-bezier(0.4, 0, 0.2, 1);
}

// Breakpoints
@media #{$lt-phone} {
    :root {
        --unit-gap: 20px;
    }
}
